.w3-btn {
	margin-bottom:10px;
	margin-left:10px;
}



h3{
	font-family: "Orbitron", sans-serif;
	color:;

}

.number-separator{
	margin-bottom:15px;
	margin-left:10px;
	width:80%;
	border:none;
	background-color:#c3c2ab;
	outline:none;
	font-family:"Orbitron";
	font-size:24px;
}

label{
	margin-left:10px;
}
.box{
 	margin-top: 50px;
	margin-left: 0px;
	width:100%;
	background-color:#d8d8d8; /*light silver*/
	border:none;
	border-radius:5px;
}
.frame{
	margin: 10px 10px 10px 0px;
}

.company{
	margin-top:50px;
	margin-bottom:150px;
	text-align:center;
	font-family:"Orbitron";
	font-size:18px;
	font-weight:bold;
	color:burlywood;
}
body{
	background-color:black;
	font-size: 25px;
}


.copyright{
	margin:-25px 0px 50px 0px;
	font-size:10px;
	text-align:center;
	font-family:"Orbitron";
	color:silver;
}
a{
	text-decoration:none;
}
select{
	margin-bottom:15px;
}
